<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.ewedj" level="${LOG_LEVEL:-ERROR}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>